.header {
  display: flex;
}

.room {
  width: 150px;
  align-self: center;
}

.month {
  display: flex;
  background: gainsboro;
}

.curent-month {
  width: 600px;
  text-align: center;
  margin: auto;
}

.bnt-change-date {
  width: 32px;
}

.week-days {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.days {
  display: inline-block;
  width: 130px;
  text-align: center;
  margin-right: 10px;
}

.day-times {
  margin: 0 5px 10px 5px;
}

.div-room {
  display: flex;
  border: 2px;
}

.room-name {
  width: 150px;
  align-self: center;
}

.room-color {
  margin: auto;
}

.room-sum {
  margin: auto;
  color: gray;
}

.day-times {
  display: inline-block;
  /* margin: auto; */
}

.btn-time {
  width: 65px;
  margin: auto;
  display: flex;
}

.btn-line {
  display: flex;
  margin: auto;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  /* width: auto; */
}

.eventOn {
  background-color: gray;
}

.eventOff {
  background-color: white;
}

.time-text {
  margin: 0px 4px 0px 4px;
}
